[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = {git = "https://github.com/NighTurs/gym.git"}
box2d-py = "*"
stable-baselines3 = "*"
opencv-python = "*"
tensorboard = "*"
jupyter = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
